*{
    margin: 0;
    padding: 0;
}
body{background-color: aliceblue;}
/* for the hero section */
.af-sub-bar{
    margin: 1px;
    height: 30px;
    width: 100%;
    
   
    display: flex;
    justify-content: space-around;
    background-color: rgb(223, 250, 241);
}
a{
    color: rgb(10, 9, 9);
    padding: 5px;
    font-size: 13px;
    margin-left: 20px;
    font-weight: 700;
}
.Am{margin-right:550px ;}
.winter-sale-banner{
    height: 110px;
    width: 100%;
    margin-top: 10px;
}
.hisense{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(237, 221, 221);
    
}
.his-shopnow{
    height: 30px;
    width: 80px;
    border-radius: 30px;
background-color: rgb(233, 233, 127);
font-weight: 600;
margin-right: 50px;
}
/* for the slide content */
.slider {
    
height: 200px;
width: 98%;  
 border: 2px solid gainsboro;
box-sizing: content-box;
margin: 10px 10px 10px 10px ;
padding: 10px;
background-color: rgb(197, 248, 222);

}

  .slider-item2 {
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    height: 150px;
    width: 150px;
   
    
    border-radius: 100px;
  }

  .slick-prev, .slick-next {
   height: 20px;
   width: 20px;
    font-size: 30px;
    color: #bf1616;
    background-color: rgb(121, 41, 41);
  }


.content-box{
    display: flex;
    box-sizing: content-box;
    margin-top: 50px;
}
.lef-side-content{
    height: 600px;
    width: 20%;
    background-color: blue;
}
.rig-side-content{
    height: 600px;
    width:80%;
    background-color: rgb(233, 238, 237);
    
    
}
/* css for the right side item in a cointainer box */
.rig-container-box-row1{
 display: flex;


}
.rig-container-box-row2{
    display: flex;
   
   
   }
.shape{
    width :350px;
    height: 350px;
    background-color:white;
    margin: 2px;
    border: 1px solid rgb(159, 149, 149);
   
}
.shape-contain{
    width :250px;
    height: 200px;
    background-color: rgb(150, 135, 135);
    margin-left:30px;
    
} 
    .itmbtn{
        width: 100px;
        height: 30px;
        background-color: #bf1616;
        border-radius: 5px;
        margin-left: 25px;
    }
span{font-weight: 500;
font-size: 18px;
color: #bf1616;
}