#image-slider {
    position: abssolute;
    /* max-width: 800px; */
    margin: 0 auto;
    overflow: hidden;
}

#slide-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    box-sizing: content-box;
}

.slide {
    /* min-width: 100%; */
    box-sizing: border-box;
}

#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}
.img{
height: 500px;
width:1400px;
box-sizing: content-box;
}